construct==2.9.45
future==0.18.0
iso8601==0.1.12
numpy==1.17.2
opencv-python==4.1.1.26
pkg-resources==0.0.0
PyCRC==1.21
PyQt5==5.13.1
PyQt5-sip==12.7.0
pyserial==3.4
PyYAML==5.4
spinnaker-python==1.26.0.31
